{% extends 'base.html' %}
{% load quiz_extras %}
{% load static %}
{% block css %}
<style type="text/css">
  .media {
    margin-top: 10px
  }
</style>
{% endblock %}

{% block content %}
  {% include 'classroom/students/_header.html' with active='students' %}
</div>
<table class="table table-bordered mb-0" id="tb_quizlist" >
    <thead>
      <tr>
        <th>Image</th>
        <th>Name</th>
        <th class="d-none d-sm-table-cell">Quiz taken</th>
        <th class="d-none d-sm-table-cell">Subject</th>
      </tr>
    </thead>
    <tbody>
      {% for student in students  %}
        <tr>
          <td>
            <img class="mr-3" src="{{ student.user.username|gravatar_url:50 }}" alt="{{student.user.get_full_name}}">
          </td>
          <td class="align-middle">{{student.user.username}}</td>
          <td class="align-middle d-none d-sm-table-cell">{{student.score}}</td>
          <td class="align-middle d-none d-sm-table-cell">{{student.taken_quizzes.all|top_subject}}</td>
        </tr>
      {% empty %}
        <tr>
          <td class="bg-light text-center font-italic" colspan="4">No student matched your search.</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
{% block js %}
<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'datatables/dataTables.bootstrap4.min.js' %}"></script>
<script type="text/javascript">
$(document).ready(function() {
    $('#tb_quizlist').DataTable({"order": [[ 2, "desc" ]]});
});
</script>
{% endblock %}