{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block css %}
{% endblock %}

{% block content %}
{% include 'classroom/students/_header.html' with active='new' %}
<section>
	<div class="container">

                <div class="col-12 col-md-8 col-lg-8">
                <div class="card-body">
                  <h5 class="card-title">
                    Quizzes
                  </h5>
                <div class="progress">
    <div class="progress-bar" role="progressbar" aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ progress }}%"></div>
  </div>
  <h2><span class="badge badge-secondary">{{ answered_questions|add:"1" }}/{{total_questions}}</span></h2>

  <h2 class="mb-3">{{ quiz.name }}</h2>
  <p class="lead">{{ question.text }}</p>
  <form method="post" novalidate>
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-primary">Next →</button>
  </form>

                   <i class="fas fa-disease slowfloat3s"></i>
            </div>
                </div>
                    </div>
                  </div>
        </div>
    </div>


		</div>
	</div>
</section>
<div>

{% endblock %}
